@import "tailwindcss";

@theme {
  --color-medical-50: #f0fdfa;
  --color-medical-100: #ccfbf1;
  --color-medical-500: #14b8a6;
  --color-medical-700: #0f766e;
  --color-medical-900: #134e4a;
  
  --color-alert-500: #ef4444;
  --color-warning-500: #f59e0b;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }
}
